<div class="row" >
	<div class="col" style="text-align: center;">
	<h2> ChatRoom</h2>
<h4 id="welcome" style="margin-top: -10px;"> Welcome!  </h4>
	<p>SHAYNE AHCHOON :)</p>
	</div>

</div>



<script type="text/javascript">
	var welcomes = ["ようこそ", "歡迎", "Willkommen", "Bienvenue", "Kuwakaribisha","Welcome" ];
	var ticker = 0; 
	
	setInterval(function () {
		changeWelcomeSign();
	}, 3000)
	
	
	function changeWelcomeSign() {
	
	$(document).ready(function(){
		$("#welcome").fadeOut(1000, function () {
			
			if(ticker == (welcomes.length)){
				ticker = 0;		
			}
			document.getElementById("welcome").innerHTML = welcomes[ticker] + "!";
			ticker++;
			
			$("#welcome").fadeIn();
		});
		
	
	})
	
	
	
	}
	
</script>