<!DOCTYPE html>
<html>


<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>


<div class="container-fluid">
<div class="row">
	
	
	<div class="col-sm-4">

 
		
   </div>


		
	<div class="col-sm-4">
	
 <% include ../partials/login.ejs %>

  
	</div>
	
	<div class="col-sm-4">
	



	</div>
	
</div>
</div>

</body>


</html>
